{% include header.html %}

<div class="row-fluid">
  <div class="span8">
    <h1>{{ page.title }}</h1>
    
    {{ content }}
  </div>
  <div class="span4">
    <h3>ELT 1010</h3>
      <ul class="nav nav-list">
        <li class="active"><a href="{{ site.url }}/courses/ELT 1010">Home</a></li>
        <li class="nav-header">Content</li>
        <li><a href="Example Page">Example Page</a></li>
        <li class="divider"></li>
        <li><a href="{{ site.url }}/help">Help</a></li>
      </ul>
      
    {% include sidebar.html %}
  </div>
</div>

{% include footer.html %}
